바이낸스 1분봉 가져오기  
참고자료 : https://wikidocs.net/31065  

환율 바꾸는 코드 자료 : https://appia.tistory.com/434

깃허브 참고 자료 : https://github.com/codeninja/CCXT-Historical-Data

In [99]:
import ccxt

In [100]:
binance = ccxt.binance()
markets = binance.fetch_tickers()
list(markets.keys())[:5]

['ETH/BTC', 'LTC/BTC', 'BNB/BTC', 'NEO/BTC', 'QTUM/ETH']

In [101]:
ticker = binance.fetch_ticker('XRP/USDT')
ticker

{'symbol': 'XRP/USDT',
 'timestamp': 1637674038636,
 'datetime': '2021-11-23T13:27:18.636Z',
 'high': 1.071,
 'low': 1.0192,
 'bid': 1.0458,
 'bidVolume': 1826.0,
 'ask': 1.0459,
 'askVolume': 28486.0,
 'vwap': 1.0434347,
 'open': 1.0472,
 'close': 1.0458,
 'last': 1.0458,
 'previousClose': 1.0475,
 'change': -0.0014,
 'percentage': -0.134,
 'average': 1.0465,
 'baseVolume': 354826619.0,
 'quoteVolume': 370238407.103,
 'info': {'symbol': 'XRPUSDT',
  'priceChange': '-0.00140000',
  'priceChangePercent': '-0.134',
  'weightedAvgPrice': '1.04343470',
  'prevClosePrice': '1.04750000',
  'lastPrice': '1.04580000',
  'lastQty': '24.00000000',
  'bidPrice': '1.04580000',
  'bidQty': '1826.00000000',
  'askPrice': '1.04590000',
  'askQty': '28486.00000000',
  'openPrice': '1.04720000',
  'highPrice': '1.07100000',
  'lowPrice': '1.01920000',
  'volume': '354826619.00000000',
  'quoteVolume': '370238407.10300000',
  'openTime': '1637587638636',
  'closeTime': '1637674038636',
  'firstId': '383230529',
  'lastId': '383699453',
  'count': '468925'}}

In [102]:
ohlcvs = binance.fetch_ohlcv('XRP/USDT')
print(ohlcvs[:5])
print('불러온 데이터 개수 :',len(ohlcvs))

[[1637644080000, 1.049, 1.0492, 1.0489, 1.049, 77148.0], [1637644140000, 1.049, 1.0496, 1.0484, 1.0489, 349601.0], [1637644200000, 1.0489, 1.0491, 1.0485, 1.0487, 103268.0], [1637644260000, 1.0487, 1.0492, 1.0483, 1.0486, 169822.0], [1637644320000, 1.0486, 1.0486, 1.0466, 1.0469, 421561.0]]
불러온 데이터 개수 : 500

In [103]:
from datetime import datetime
for ohlc in ohlcvs[-5:]:
    print(datetime.fromtimestamp(ohlc[0]/1000).strftime('%Y-%m-%d %H:%M:%S'))

2021-11-23 22:23:00
2021-11-23 22:24:00
2021-11-23 22:25:00
2021-11-23 22:26:00
2021-11-23 22:27:00

In [104]:
def scrape_ohlcv(exchange, max_retries, symbol, timeframe, since, limit):
    earliest_timestamp = exchange.milliseconds() # 현재시간?
    timeframe_duration_in_seconds = exchange.parse_timeframe(timeframe) # 초단위로 바꿈
    timeframe_duration_in_ms = timeframe_duration_in_seconds * 1000
    timedelta = limit * timeframe_duration_in_ms
    if isinstance(since, str):
        since = exchange.parse8601(since)

    all_ohlcv = []
    while True:
        fetch_since = earliest_timestamp - timedelta
        ohlcv = retry_fetch_ohlcv(exchange, max_retries, symbol, timeframe, fetch_since, limit)
        # if we have reached the beginning of history
        if ohlcv[0][0] >= earliest_timestamp:
            break
        earliest_timestamp = ohlcv[0][0]
        all_ohlcv = ohlcv + all_ohlcv
        if len(all_ohlcv) % 100000 == 0:
            print(len(all_ohlcv), symbol, 'candles in total from', exchange.iso8601(all_ohlcv[0][0]), 'to', exchange.iso8601(all_ohlcv[-1][0]))
        # if we have reached the checkpoint
        if fetch_since < since:
            break
    return all_ohlcv

def retry_fetch_ohlcv(exchange, max_retries, symbol, timeframe, since, limit):
    num_retries = 0
    try:
        num_retries += 1
        ohlcv = exchange.fetch_ohlcv(symbol, timeframe, since, limit)
        # print('Fetched', len(ohlcv), symbol, 'candles from', exchange.iso8601 (ohlcv[0][0]), 'to', exchange.iso8601 (ohlcv[-1][0]))
        return ohlcv
    except Exception:
        if num_retries > max_retries:
            raise  # Exception('Failed to fetch', timeframe, symbol, 'OHLCV in', max_retries, 'attempts')

In [106]:
binance = ccxt.binance()
all_ohlcv = scrape_ohlcv(binance, 3, 'XRP/USDT', '1m', '2017-01-01 00:00:00Z', 1000)

In [4]:
import pandas as pd

dat = pd.DataFrame(all_ohlcv, columns=['time','open','high','low','close','volume'])
dat['time'] = [datetime.fromtimestamp(t/1000).strftime('%Y-%m-%d %H:%M:%S') for t in dat['time']]
dat.to_csv('XRP-USDT_1min.csv', index=False)

In [107]:
dat

                        time     open     high      low    close     volume
0        2018-05-04 17:11:00  0.50000  0.50000  0.50000  0.50000     109.51
1        2018-05-04 17:12:00  0.90000  0.92999  0.85000  0.90000  167543.47
2        2018-05-04 17:13:00  0.90000  0.93000  0.89001  0.91000  179750.59
3        2018-05-04 17:14:00  0.91000  1.50000  0.90009  0.92999  107222.48
4        2018-05-04 17:15:00  0.92999  0.95001  0.91020  0.91020  171304.56
...                      ...      ...      ...      ...      ...        ...
1870995  2021-11-22 16:24:00  1.04580  1.04620  1.04470  1.04520  291352.00
1870996  2021-11-22 16:25:00  1.04520  1.04730  1.04500  1.04710  334338.00
1870997  2021-11-22 16:26:00  1.04710  1.04820  1.04650  1.04750  255795.00
1870998  2021-11-22 16:27:00  1.04740  1.04860  1.04700  1.04810  178432.00
1870999  2021-11-22 16:28:00  1.04800  1.04820  1.04780  1.04820   28797.00

[1871000 rows x 6 columns]

In [ ]:
import pandas as pd
dat = pd.read_csv('XRP-USDT.csv')
dat['time'] = pd.to_datetime(dat['time'])
dat['ymd'] = dat['time'].dt.date.astype('str')

In [92]:
# pip install finance-datareader 패키지 이름 주의

import FinanceDataReader as fdr
ex_rate = fdr.DataReader('USD/KRW','2018')
ex_rate = ex_rate.reset_index()[['Date','Close']]
ex_rate['Date'] = ex_rate['Date'].astype('str')
ex_rate.head()

         Date    Close
0  2018-01-01  1066.60
1  2018-01-02  1063.21
2  2018-01-03  1064.80
3  2018-01-04  1062.28
4  2018-01-05  1062.09

공휴일에는 환율 없는거 발견... 토일이면 금요일 종가로 밀어서 채우자

In [93]:
# index 사용해서 전처리가 용이
ex_rate = ex_rate.set_index(['Date'])
ex_rate.index = pd.DatetimeIndex(ex_rate.index)

# 공휴일 빈날짜까지 다 채워서 환율 만들기
idx = pd.date_range(ex_rate.index[0],ex_rate.index[-1])
ex_rate = ex_rate.reindex(idx)

# 금요일값으로 토일 채우기 : 밀어채우기
ex_rate = ex_rate.fillna(method='pad')
ex_rate = ex_rate.reset_index().rename(columns={"index": "Date"})

In [4]:
# total_dat = pd.DataFrame()
# for i, date in enumerate(pd.unique(dat['ymd'])):
#     USD = ex_rate.loc[ex_rate['Date']==pd.unique(dat['ymd'])[0]]['Close']
#     temp_dat = dat.loc[dat['ymd']==pd.unique(dat['ymd'])[0]]
#     temp_dat.loc[:,['open','high','low','close']] *= float(USD)
#     total_dat.append(temp_dat)
#     print(date)
# # 아 이거 ㅈㄴ느림!;;

위에서 억지코딩 너무 느려서 groupby로 분할한 다음 for문 돌리기 성공  
1분넘게 걸리던거 좀 줄이기 완료..

In [96]:
total_dat = pd.DataFrame()
for df in dat.groupby(['ymd']):
    # df[0]:날짜, df[1]:dateframe
    USD = ex_rate.loc[ex_rate['Date']==df[0]]['Close']
    df[1].loc[:, ['open','high','low','close']] *= float(USD)
    total_dat.append(df[1])
    # print(USD)

Empty DataFrame
Columns: [Date, Close]
Index: []